/* CrossRef CSS */

.idxFra{
	background-color:#EDF2F9;
	border:2px solid #7E99CC;
	padding: 3px 3px;
	margin: 0px 10px 10px 0px;
}

.idxFra p{
	text-indent: 0px;
	margin: 0px;
}
.idxEntryTi{
	font-weight: bold;
	color: #4465A6;
	margin: 10px 10px 0px 0px;
	font-size: 1.3em;
}
.idxEntryCo{
	font-size: 0.85em;
}
.idxEntryCallers{
	margin-top: 5px;
	padding-left: 17px;
	background-image: url(../img/txt/refLink.gif);
	background-repeat: no-repeat;	
}
.idxEntryCallers_open,.idxEntryCallers_closed{
	text-decoration: none;
	font-style: italic;
	color: gray;
}
.idxEntryCallers_ti:hover{
	text-decoration: underline;
}

.idxEntryCaller{
	padding-left: 17px;
	margin: 3px 0px;
	background-image: url(../img/txt/goLink.gif);
	background-repeat: no-repeat;	
	min-height:16px;
}
.idxEntryCaller a{
	text-decoration: none;
	color: Gray;
	margin-top: 1em;
	font-style: italic;
}
.idxEntryCaller a:hover{
	text-decoration: underline;
}
a.idxEntryCallerLnk{
	font-weight: bold;
	font-style: normal;
}

.idxFraImg{
	border: 1px dashed silver;
	margin: 10px 0px;
	padding: 5px;
	line-height: normal;
}

.idxEntryCoImg img{
	height: 50px;
}

